<% @visas.each  do |visa| %>	
	<div class="col-sm-6 col-md-4 col-lg-4">
    <div class="thumbnail thumb-rel pad-bot-50">
     <p class="p-mid img-responsive"><%= visa.name %></p>
      <%= link_to visa_path(visa.slug), :title => visa.shortdesc do %>
      	<%= image_tag visa.visa_cd+".jpg", :class=> "img-responsive" %>
      <% end %>
      <div class="caption">
        <p class="height-50" title = "<%= visa.shortdesc %>"><%= truncate(visa.shortdesc, :length => 80) %>
        </p>
        <p class="btn-absolute">
        		<%= link_to "Подробнее", visa_path(visa.slug), :class => "btn btn-success btn-block" %>
        <p>
      </div>
    </div>
  </div>
<% end %>