<% @visas.each  do |visa| %>	
	<div class="col-sm-6 col-md-6 col-lg-4">
    <div class="thumbnail thumb-rel pad-bot-50">
      <%= link_to visa_path(visa.slug), :title => visa.shortdesc do %>
      	<div class="position-relative">
      	<%= image_tag visa.visa_cd+".jpg", :class=> "img-responsive" %>
      	<div class="p-top img-responsive">
      		<p class="p-heading mar-bot-20"><%= visa.name %></p>
      		<% if visa.term1.present? %>
      			<p class="text-left"><span class="glyphicon glyphicon-time"></span> <b>Оформление:</b> <%= visa.term1 %></p>
			   <% end %> 
			   <% if visa.term2.present? %>     		
      			<p class="text-left"><span class="glyphicon glyphicon-calendar"></span> <b>Срок действия:</b> <%= visa.term2 %></p>
				<% end %>      	
				<% if visa.tax1.present? %> 	
      			<p class="text-left"><span class="glyphicon glyphicon-usd"></span> <b>Сборы:</b> <%= visa.tax1 %></p>
				<% end %> 
				<% if visa.tax2.present? %>    		
      			<p class="text-left"><span class="glyphicon glyphicon-usd"></span> <b>Оформление:</b> <%= visa.tax2 %></p>
				<% end %>       	
      	</div>
      	</div>
      <% end %>
      <div class="caption">
        <p class="height-50" title = "<%= visa.shortdesc %>"><%= truncate(visa.shortdesc, :length => 80) %>
        </p>
        <p class="btn-absolute">
        		<%= link_to "Подробнее", visa_path(visa.slug), :class => "btn btn-success btn-block" %>
        <p>
      </div>
    </div>
  </div>
<% end %>