<div class="container pad-top-bot-50">
	<div class="row">
		<div class="col-lg-3">
			<div class="panel panel-default position-fixed">
				<div class="panel-heading">Параметры</div>
				<div class="panel-body">
					<div class="form-group">
						<%= select_tag :country_id, 
		       			options_for_select([ "Все страны", "США", "Великобритания","Канада", "Юар" ]), 
		       				:class=>"selectpicker", :data=>{:style=>"btn-info"} %>
					</div>	
					<div class="form-group">				
						<%= select_tag :immigration_id, 
		       			options_for_select([ "Неиммиграционные визы", "Иммиграционные визы"], "Неиммиграционные визы"), 
		       				:class=>"selectpicker", :data=>{:style=>"btn-info"} %>				
					</div>					
					<div class="form-group">				
						<%= select_tag :visatype_id, 
		       			options_for_select([ "Все типы виз", "Туристические визы", "Для деловых поездок" ]), 
		       				:class=>"selectpicker", :data=>{:style=>"btn-info"} %>				
					</div>	
					<%= form_tag search_path, :remote => true do %>
						<div class="form-group">
							<%= select_tag "visatypes", options_from_collection_for_select(@visatypes, "id", "name"),
	        				:class=>"selectpicker", :data=>{:style=>"btn-info"}, :onchange=>"send_form();" %>	        						
						</div>
						<!-- submit_tag :send -->	
					<% end %>	
				</div>
			</div>		
		</div>
		<div class="col-lg-9">
			<!-- @countries.each do |country| -->
			<div class="panel panel-default">
				<div class="panel-heading"><h3>Визы <!-- country.name --></h3></div>
				<div id="visas" class="panel-body">
					<%= render :partial => "visaitems" %>
				</div>
			</div>
			<!-- end -->		
		</div>
	</div>	
</div>

<script type="text/javascript" >
	function send_form(){
		 $.ajax({
		     type: "POST",
	        url: "visas/search",
	        data: {visatypes: $('#visatypes').find(":selected").val()},
	        dataType: "script"
	    });
	    return false; // prevents normal behaviour
		};
</script>