<div class="container  pad-top-bot-50">
 <div class="row"> 
 	<div class="col-lg-9 col-md-9">
		<div class="panel panel-default">
	       <div class="panel-heading">
	       <h3>
	       	 <span class="glyphicon glyphicon-globe"> </span>&nbsp;
		       <%= link_to "Виза в "+@visa.country.name2, "" %>
	       </h3></div>
	       <div class="panel-body panel-grey">
	       	 <div class="row col-lg-6 col-sm-6 mar-left-0">
	       	 		<div class="well pad-0 panel-grey">
    	 					<h1 class="mar-0"><span class="text-underline" ><%= @visa.name %></span></h1>
       	 			</div>
       	 			<p><b class="text-underline">Когда используется</b>:
							<% @purposes.where("visa_id = ?", @visa.id).each do |purpose| %>
								<span class="label label-info"><b><%= purpose.name %></b></span>
							<% end %>       	 			
       	 			</p>
       	 			<p><b class="text-underline">Описание</b>: <%= raw @visa.description %></p>
	       	 </div>
	       	 <div class="row col-lg-6 col-sm-6 mar-left-20">
				   	<p><%= image_tag @visa.visa_cd+".jpg", :class=> "img-responsive" %></p>
				   	<p>
							<%= link_to "", :class=>"btn btn-warning btn-block" do %>
								<span class="glyphicon glyphicon-save"></span>	
								Черновик анкеты		
					       <% end %> 
						</p>
				 </div>
	       </div>
	    </div>
    		<div class="panel panel-success">
	       	<div class="panel-heading">
					<h3><span class="glyphicon glyphicon-folder-open"></span>&nbsp; Список необходимых документов</h3></div>
	       	<div>
	       		<table class="table table-striped">
				      <tbody>
				      	<% @cnt = 0 %>
				      	<% @visa.documents.each  do |doc| %>
				      		<% @cnt += 1 %>
				      		<tr class="font-s-17">
					           <td><b><%= @cnt %>. <%= doc.name %>:</b> <%= raw doc.description %></td>
					         </tr>
				      	<% end %>
				      </tbody>
				    </table>
	         </div>
    	   </div>
    		<div class="panel panel-warning">
	       	<div class="panel-heading">
					<h3><span class="glyphicon glyphicon-usd"></span>&nbsp; Расходы на получение визы</h3></div>
	       	<div>
	       		<table class="table table-striped">
				      <tbody>
				      	<% @cnt = 0 %>
				      	<% @visa.prices.each  do |cost| %>
				      		<% @cnt += 1 %>
				      		<tr class="font-s-17">
					           <td class="col-lg-10 col-sm-10"><b><%= @cnt %>. <%= cost.name %>:</b> <%= raw cost.description %></td>
					           <td class="col-lg-2 col-sm-2"><b><%= number_with_precision(cost.price,strip_insignificant_zeros: true) %> <%= cost.currency %></b></td>
					         </tr>
				      	<% end %>
				      </tbody>
				    </table>
	         </div>
    	   </div>
    	    <div class="panel panel-info">
	       	<div class="panel-heading">
					<h3><span class="glyphicon glyphicon-refresh"></span>&nbsp; Процедура оформления визы</h3></div>
	       	<div>
	       		<table class="table table-striped">
				      <tbody>
				      	<% @visa.procedures.order("procedures.id").each  do |proc| %>
				      		<tr class="font-s-17">
				      		  <td class="w-10"><b class="text-blue"> <%= proc.step %></b></td>
					           <td class="col-lg-10 col-sm-10"><%= raw proc.description %></td>
					         </tr>
				      	<% end %>
				      </tbody>
				    </table>
	         </div>
    	   </div>
    	   <% if @visa.addinfos.exists? %>
    	   <div class="panel panel-primary">
	       	<div class="panel-heading">
					<h3><span class="glyphicon glyphicon-paperclip"></span>&nbsp; Дополнительная информация</h3></div>
	       	<div>
	       		<table class="table table-striped">
				      <tbody>
				      	<% @visa.addinfos.each  do |info| %>
				      		<tr class="font-s-17">
					           <td class="col-lg-10 col-sm-10"><b> <%= info.name %></b></br> <%= raw info.description %></td>
					         </tr>
				      	<% end %>
				      </tbody>
				    </table>
	         </div>
    	   </div>
    	   <% end %>
 	</div>
	<div class="col-lg-3 col-md-3">
		<div class="panel panel-info mar-bot-50">
			<div class="panel-heading">
				<h3><span class="glyphicon glyphicon-info-sign"></span>	&nbsp;
				Другие визы в <%= @visa.country.name2 %></h3>
			</div>
			<div>
	        	<ul class="nav nav-pills nav-stacked">
				  <% @country_visas.each do |visa| %>
				  <li <%= case visa.id when @visa.id then 'class=active branch-name' else 'class=branch-name' end %> >
				  		<%= link_to visa_path(visa.slug), :title => visa.name do %>
				  			<%= visa.name %>
				  			<span class="glyphicon glyphicon-chevron-right pull-right"></span>
				  		<% end %>
				  </li>
				  <% end %>
				</ul>
	      </div>
		</div>
		<div class="panel panel-success form-panel">
			<div class="panel-heading"><h3><span class="glyphicon glyphicon-envelope"></span>&nbsp;
				<b>Оставьте заявку и мы Вам перезвоним</b></h3></div>
			<div class="panel-body">
				<%= render :partial => "orders/form" %>	
			</div>		
		</div> 	
 	</div> 
 </div>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23900710 = new Ya.Metrika({id:23900710,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23900710" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- GoogleAnalytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48380429-1', 'vizaok.ru');
  ga('send', 'pageview');

</script>