<div id="intro"class="container-fluid">		
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">			
				<div class="form intro-form">
					<div class="row">
						<h1><span class="glyphicon glyphicon-globe"> </span> VizaOk.ru</h1>
						<h2>Путешествуйте вместе с нами</h2>
					</div>
					 <%= form_tag start_search_path, :class=>"form-inline h-center" do %>
						<div class="form-group">
							<%= select_tag "countries", options_from_collection_for_select(@countries, "id", "name"),
		        				:class=>"selectpicker", :data=>{:style=>"btn-info btn-lg"}, 
		        				include_blank: true, prompt: "Все страны" %>
						</div>	
						<div class="form-group">
							<%= select_tag "purposes", options_from_collection_for_select(@purposes, "id", "name"),
		        				:class=>"selectpicker", :data=>{:style=>"btn-info btn-lg"}, 
		        				include_blank: true, prompt: "Все типы виз" %>	        						
						</div>
						<%= submit_tag "Начать поиск", :class=>"btn btn-success btn-lg" %>
					  <% end %>
				 </div>		
			</div>
			<div class="col-lg-2"></div>
	 </div>	
</div>
<div class="container marketing border-bot">
      <!-- Three columns of text below the carousel -->
      <div class="row pad-top-bot-50">
        <div class="col-lg-4">
          <span class="glyphicon glyphicon-tower icon-circle"></span>        
          <h2>Надежно</h2>
          <p>Мы не даем гарантии, что Вы получите визу со 100% вероятностью, <b>но мы даем гарантию</b>, что сделаем все от нас зависящее для того, чтобы <b>снизить риск отаза</b> по визе <b>до минимума.</b></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        	 <span class="glyphicon glyphicon-flash icon-circle"></span> 
          <h2>Оперативно</h2>
          <p>Благодаря <b>многолетнему опыту</b> наших специалистов, процесс оформления занимает <b>минимально возможное время</b>. Вы можете получить паспорт с визой <b>в течение 1-й рабочей недели</b>.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
           <span class="glyphicon glyphicon-usd icon-circle"></span><h2>Прозрачная цена</h2>
          <p>Вы платите <b>фиксированную сумму $120</b> и получаете за эти деньги <b>полное сопровождение</b> всего процесса оформления визы и <b>24 часовую поддержку</b> по любым вопросам, связанным с Вашей визой.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>
<div class="container" >
		<div class="row pad-top-bot-50 border-bot">
			<div class="col-md-3 border-right1">
				<%= image_tag "flag-usa.jpg", :class=>"image_responsive center-block img-circle size-200" %>	   	
	   	</div>
		   <div class="col-md-9">
				<div class="page-header-2">
					 <h1>Визы в США</h1>
				</div>  
				<p class="lead mar-top-30">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, 
	          vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
	         </p>
         	<div id="tS1" class="jThumbnailScroller">
					<div class="jTscrollerContainer">
				        <div class="jTscroller">
				        	 <% @visas_usa.each do |usa_v| %>
				            <%= link_to visa_path(usa_v.id), :class=>"thumb-rel", :title => usa_v.name+". "+usa_v.shortdesc do %>
						      	<%= image_tag usa_v.visa_cd+".jpg", :class=>"size-150" %>
						      	<p class="p-bot-2"><b><%= truncate(usa_v.name, :length => 17)  %></b></p>
						      <% end %>
				          <% end %>	
				        </div>
				    </div>
				    <%= link_to "", "", :class=>"jTscrollerPrevButton" %>
				    <%= link_to "", "", :class=>"jTscrollerNextButton" %>
				</div>
		   </div>
		</div>
		<div class="row pad-top-bot-50 border-bot">
			<div class="col-md-3 border-right1">
				<%= image_tag "flag-uk.jpg", :class=>"image_responsive center-block img-circle size-200" %>	   	
	   	</div>
		   <div class="col-md-9">
				<div class="page-header-2">
					 <h1>Визы в Великобританию</h1>
				</div>  
				<p class="lead mar-top-30">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, 
	          vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
	         </p>
	         <div id="tS2" class="jThumbnailScroller">
					<div class="jTscrollerContainer">
				        <div class="jTscroller">
				          <% @visas_uk.each do |uk_v| %>
				            <%= link_to visa_path(uk_v.id), :class=>"thumb-rel", :title => uk_v.shortdesc do %>
						      	<%= image_tag uk_v.visa_cd+".jpg", :class=>"size-150" %>
						      	<p class="p-bot-2"><b><%= truncate(uk_v.name, :length => 17)  %></b></p>
						      <% end %>	
				          <% end %>	
				        </div>
				    </div>
				    <%= link_to "", "", :class=>"jTscrollerPrevButton" %>
				    <%= link_to "", "", :class=>"jTscrollerNextButton" %>
				</div>
		   </div>
		</div>
		<div class="row pad-top-bot-50 border-bot">
			<div class="col-md-3 border-right1">
				<%= image_tag "flag-ca.jpg", :class=>"image_responsive center-block img-circle size-200" %>	   	
	   	</div>
		   <div class="col-md-9">
				<div class="page-header-2">
					 <h1>Визы в Канаду</h1>
				</div>  
				<p class="lead mar-top-30">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, 
	          vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
	         </p>
	         <div id="tS3" class="jThumbnailScroller">
					<div class="jTscrollerContainer">
				        <div class="jTscroller">
				          <% @visas_ca.each do |ca_v| %>
				            <%= link_to visa_path(ca_v.id), :class=>"thumb-rel", :title => ca_v.shortdesc do %>
						      	<%= image_tag ca_v.visa_cd+".jpg", :class=>"size-150" %>
						      	<p class="p-bot-2"><b><%= truncate(ca_v.name, :length => 17)  %></b></p>
						      <% end %>	
				          <% end %>		
				        </div>
				    </div>
				    <%= link_to "", "", :class=>"jTscrollerPrevButton" %>
				    <%= link_to "", "", :class=>"jTscrollerNextButton" %>
				</div>
		   </div>
		</div>
		<div class="row pad-top-bot-50 border-bot">
			<div class="col-md-3 border-right1">
				<%= image_tag "flag-au.jpg", :class=>"image_responsive center-block img-circle size-200" %>	   	
	   	</div>
		   <div class="col-md-9">
				<div class="page-header-2">
					 <h1>Визы в Австралию</h1>
				</div>  
				<p class="lead mar-top-30">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, 
	          vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
	         </p>
	        <div id="tS4" class="jThumbnailScroller">
					<div class="jTscrollerContainer">
				        <div class="jTscroller">
				          <% @visas_au.each do |au_v| %>
				            <%= link_to visa_path(au_v.id), :class=>"thumb-rel", :title => au_v.shortdesc do %>
						      	<%= image_tag au_v.visa_cd+".jpg", :class=>"size-150" %>
						      	<p class="p-bot-2"><b><%= truncate(au_v.name, :length => 17)  %></b></p>
						      <% end %>
				          <% end %>		
				        </div>
				    </div>
				    <%= link_to "", "", :class=>"jTscrollerPrevButton" %>
				    <%= link_to "", "", :class=>"jTscrollerNextButton" %>
				</div>
		   </div>
		</div>
</div>
 <script type="text/javascript" >
 	 //$("#intro").backstretch("<%= asset_path 'bg-image2.jpg' %>");
	 $('#intro').parallax("50%", 0.1);
	 $('#usa-features').parallax("50%", 0.1);
	 $('#uk-features').parallax("50%", 0.1);
	 $('#au-features').parallax("5%", 0.1);
	 $('#ca-features').parallax("50%", 0.1);
	 $('#nz-features').parallax("50%", 0.1);
    $(function ($) {  
     	var vH = $(window).height();
     	$('#carousel').css('height', vH-50);
     	$('#intro').css('height', vH-50);
     	$('.features').css('height', vH-50);
     });   
     $('body').scrollspy({ target: '.slide-nav' });
     $('.slide-nav').localScroll({
           target:'body'
     });
</script>

<script>
	$("#tS1").thumbnailScroller({ 
		scrollerType:"clickButtons", 
		scrollerOrientation:"horizontal", 
		scrollSpeed:2, 
		scrollEasing:"easeOutCirc", 
		scrollEasingAmount:600, 
		acceleration:4, 
		scrollSpeed:800, 
		noScrollCenterSpace:10, 
		autoScrolling:0, 
		autoScrollingSpeed:2000, 
		autoScrollingEasing:"easeInOutQuad", 
		autoScrollingDelay:500 
	});
		$("#tS2").thumbnailScroller({ 
		scrollerType:"clickButtons", 
		scrollerOrientation:"horizontal", 
		scrollSpeed:2, 
		scrollEasing:"easeOutCirc", 
		scrollEasingAmount:600, 
		acceleration:4, 
		scrollSpeed:800, 
		noScrollCenterSpace:10, 
		autoScrolling:0, 
		autoScrollingSpeed:2000, 
		autoScrollingEasing:"easeInOutQuad", 
		autoScrollingDelay:500 
	});
		$("#tS3").thumbnailScroller({ 
		scrollerType:"clickButtons", 
		scrollerOrientation:"horizontal", 
		scrollSpeed:2, 
		scrollEasing:"easeOutCirc", 
		scrollEasingAmount:600, 
		acceleration:4, 
		scrollSpeed:800, 
		noScrollCenterSpace:10, 
		autoScrolling:0, 
		autoScrollingSpeed:2000, 
		autoScrollingEasing:"easeInOutQuad", 
		autoScrollingDelay:500 
	});
		$("#tS4").thumbnailScroller({ 
		scrollerType:"clickButtons", 
		scrollerOrientation:"horizontal", 
		scrollSpeed:2, 
		scrollEasing:"easeOutCirc", 
		scrollEasingAmount:600, 
		acceleration:4, 
		scrollSpeed:800, 
		noScrollCenterSpace:20, 
		autoScrolling:0, 
		autoScrollingSpeed:2000, 
		autoScrollingEasing:"easeInOutQuad", 
		autoScrollingDelay:500 
	});
</script>