<div class="container  pad-top-bot-50">
 <div class="row"> 
  	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Оставьте заявку</h3></div>
			<div class="panel-body">
				<%= render :partial => "orders/form" %>	
			</div>		
		</div> 	
 	</div>
 	<div class="col-lg-9">
 		<div class="panel panel-default">
			<div class="panel-heading"><h3>Иммиграция</h3></div>
			<div class="panel-body">
				 <div class="row col-lg-6">
					 <div class="thumbnail panel-grey thumb-rel">
			          <%= link_to "www.youtube.com/watch?v=wlaF3dVBJuM", :class => "fancybox-media", :title => "Смотреть видео" do %>
			          	<%= image_tag "ghb-video.jpg", :class=>"img-responsive" %>						
							<span class="glyphicon glyphicon-play media-glyphicon"></span>
							<p class="p-bot"><b>GHB & CO LAW, INC - юридическая фирма</b></p>	
			          <% end %>
			        </div>				 
				 </div>
				 <div class="row col-lg-6 mar-left-20">
				   	<div class="well pad-0 panel-grey">
    	 					<h1 class="mar-0"><span class="text-underline" >Иммиграция в США</span></h1>
       	 			</div>
       	 			<p>
       	 				Наша компания в сотрудничестве с юридической фирмой <b>GHB & LAW (Флорида, США)</b> предоставляет широкий набор услуг людям, желающим иммигрировать в США.
       	 			</p>
       	 			<p>	  
							Помимо оказания помощи в оформлении иммграционнызх виз в США, мы  также оказываем услуги в <b>поиске работы</b>, <b>регистрации юридических лиц</b>, а также помогаем решать прочие вопросы связанные с миграцией в США.
       	 			</p>
				 </div>				
			</div> 		
 		</div>
 		<div class="panel panel-default">
			<div class="panel-heading"><h2>Юридическая фирма GHB & LAW (Флорида, США)</h2></div>
			<div class="panel-body">
				<p>
					<b>Компания GHB & LAW</b> расположенна во Флориде, США специализируется на всех сферах иммиграционного законодательства, 
					как на временных визах, так и на получении постоянного вида на жительство и гражданства США.			
				</p>
				<p>
				   <b>Юристы компании</b> являются членами Ассоциациии адвокатов штата Флорида, а также членами Федеральной ассоциации адвокатов.
				</p>	
				<p>
					<b>Обладая более чем десятилетним опытом работы</b>, компания GHB & LAW. успешно помогла людям из многих стран получить американские визы, 
					Грин Карты и гражданство США, и воплотила в жизнь их мечту о лучшем будущем и более качественной жизни.				
				</p>
			</div> 		
 		</div>
 		<div class="panel panel-default">
	       	<div class="panel-heading">
					<h3>Почему мы</h3></div>
	       	<div>
	       		<table class="table table-striped">
				      <tbody>
				      	<tr class="font-s-17">
					         <td>
					            <span class="glyphicon glyphicon-ok text-green"></span>&nbsp;
					         	 Мы можем подавать ходатайства от имени людей, желающих проживать в любом из штатов; 
						 			 это не обязательно должен быть штат Флорида.
						 		</td>
					      </tr>
					      <tr class="font-s-17">
					         <td>
					         	 <span class="glyphicon glyphicon-ok text-green"></span>&nbsp;
						 			 Мы помогли многим людям получить визу и постоянный вид на жительство (карту постоянного 
						 			 резидента).
						 		</td>
					      </tr>
					      <tr class="font-s-17">
					         <td>
					         	 <span class="glyphicon glyphicon-ok text-green"></span>&nbsp;
					         	 Мы уже предоставили свои услуги сотням клиентов.
						 		</td>
					      </tr>
					      <tr class="font-s-17">
					         <td>
					          	 <span class="glyphicon glyphicon-ok text-green"></span>&nbsp;
					         	 Мы даем человеку ощущение, что он не один в этом процессе, и мы поддерживаем и 
					         	 направляем его с самого начала и до конца.
						 		</td>
					      </tr>
					      <tr class="font-s-17">
					         <td>
					         	 <span class="glyphicon glyphicon-ok text-green"></span>&nbsp;
					         	 Мы гарантируем, что будем представлять интересы клиентов наиболее профессионально, и сделаем все, что юридически необходимо для того, 
									 чтобы помочь нашим клиентам получить визу или постоянный вид на жительство.
						 		</td>
					      </tr>
				      </tbody>
				    </table>
	         </div>
    	   </div>
 		<div class="panel panel-default">
			<div class="panel-heading"><h2>Сертификаты</h2></div>
			<div class="panel-body">			
				<div class="row">
				  <div class="col-xs-6 col-md-3">
				  		<%= link_to image_tag("Certificate_1_s.jpg", :class=>"img-responsive img-bordered"), 
				  				image_url("Certificate_1.jpg"), :class=>"certificate", 
				  				:title=>"" %>
				  </div>
				  <div class="col-xs-6 col-md-3">
				  		<%= link_to image_tag("Certificate_2_s.jpg", :class=>"img-responsive img-bordered"), image_url("Certificate_2.jpg"), :class=>"certificate" %>
				  </div>
				  <div class="col-xs-6 col-md-3">
				  		<%= link_to image_tag("Certificate_3_s.jpg", :class=>"img-responsive img-bordered"), image_url("Certificate_3.jpg"), :class=>"certificate" %>
				  </div>
				  <div class="col-xs-6 col-md-3">
				  		<%= link_to image_tag("Certificate_4_s.jpg", :class=>"img-responsive img-bordered"), image_url("Certificate_4.jpg"), :class=>"certificate" %>
				  </div>
				</div>
			</div> 		
 		</div>
 		<div class="panel panel-default">
			<div class="panel-heading"><h2>Виды иммиграционных виз США</h2></div>
			<div class="panel-body">
				<%= render :partial => "visas/visaitems" %>		
			</div> 		
 		</div>
 	</div>
 </div>
</div>

 <script type="text/javascript" >
		$('.certificate').fancybox({
	  		helpers : {
					title : {
						type : 'over'
					}
				}
		});
		$('.fancybox-media').fancybox({
					openEffect : 'none',
					closeEffect : 'none',
					prevEffect : 'none',
					nextEffect : 'none',

					arrows : false,
					helpers : {
						media : {},
						buttons : {}
					}
				});
 </script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23900710 = new Ya.Metrika({id:23900710,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23900710" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- GoogleAnalytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48380429-1', 'vizaok.ru');
  ga('send', 'pageview');

</script>