<% @count = 0%>
<% @products.each do |p| %>
	    <% @count+=1 %>
	    <div class="col-xs-6 col-md-3"> 
          <div class="thumbnail">
            <%= image_tag p.img_url %>
            <div class="caption"> 
              <%= link_to "#prod_desc"+@count.to_s, :'data-toggle'=>"collapse" do%>
              	<h3><%= p.model %>
              	<%= image_tag "pfeil_rot_gross.png" %></h3>
              <% end %>
              <p id="prod_desc<%= @count.to_s %>" class="collapse"><%= p.description %></p>
              <p class="bt"><h2 class="pull-left"><%= p.price.round%>р.</h2>
              <!--a href="#" class="g-btn pull-right" role="button">В корзину</a--> 
              <%= link_to "В корзину", add_product_orders_path(:product_id => p.id), :class=>"g-btn pull-right", :remote=>true %></p>
            </div>
          </div>
        </div>
<% end %>