<div id="home"></div>

	<header>
		<div class="inner small">

			<div class="logo">
				<a href=""><i class="fa fa-location-arrow"></i>VizaOK
				<p>оформление виз в США и Европу</p>
				</a>
			</div>

			<nav id="nav" class="closed" style="-webkit-transition: max-height 400ms; position: relative;" aria-hidden="false">
				<ul class="nav">
					<li class="current"><a href="#home">Заявка</a></li>
					<li class=""><a href="#about">Документы</a></li>
					<li class=""><a href="#team">Отзывы</a></li>
					<li class=""><a href="#contact">Контакты</a></li>
				</ul>
			</nav><a href="#" id="nav-toggle" aria-hidden="true"><i class="icon-reorder">​</i>​</a>

		</div>
	</header>

	<section id="intro" class="intro">
		<div class="inner small">

			<div class="cage">		

			<div class="text">
			<h2>Звоните: +7(916)230-71-16</h2></br>
				<h2>Америка рядом!</h2>

				<p>Америка - страна свободы и демократии, визовый режим которой считается одним из наиболее строгих в мире.
				Однако, несмотря на это, ежегодно в Америку приезжают 44 миллиона туристов! </p>
				<p>Мы поможем Вам стать одним из этих счастливчиков!</p>

			</div>
			
			<div class="col-lg-5">
				<div class="form-wrapper">
					<%= render :partial=>'orders/form' %>
				</div>
			</div>			

			</div>
	</div>	
	</section>

	<section class="row service">
		<div class="inner small">

			<div class="column three">
				<i class="fa fa-clock-o fa-4"></i>

				<h3>Быстро</h3> 
				<p>Мы поможем Вам подготовить все необходимые документы в максимально короткие сроки. Срок получения виды составляет от 5 до 7 дней</p></div>

			<div class="column three">
				<i class="fa fa-money"></i>

				<h3>Дешево</h3>
				<p>Стоимость наших услуг всего <b>2900 рублей</b>.  Оплата производится после получения визы </p>
				</div>	
			
			<div class="column three last">
				<i class="fa fa-desktop"></i>

				<h3>Удаленно</h3>
				<p>Оформление без личного присутствия в консульстве. Работаем с регионами </p>
			</div>		
			</div>
			
	</section>
	
	<section id="about" class="row about">
		<div class="inner small">

			<div class="column two-three">
				<h2>Список необходимых документов:</h2>
				<p><i class="icon-check"></i>
					Копия заграничного паспорта – все страницы (4 разворота паспорта на листе формата А4 с двух сторон) 
				</p>
				<p><i class="icon-check"></i>
				   Копия гражданского паспорта - первые две страницы
 				</p>
				<p><i class="icon-check"></i>
                   -Фотография 5 х 5 цветная на белом фоне, 80% лица 
 				</p>
				<p><i class="icon-check"></i>
				Справка с места работы с указанием должности и оклада:</br>
                         <span style="margin-left: 25px;">- для студентов (копия студенческого билета);</span></br>
                         <span style="margin-left: 25px;">- для пенсионеров (копия пенсионного удостоверения);</span></br>
                         <span style="margin-left: 25px;">- для безработных и детей (спонсорское письмо);</span> </br>
				</p>
				<p><i class="icon-check"></i>
                  Выписка из банковского счёта из расчёта 150 000 руб. на человека; 
            </p>
				<p><i class="icon-check"></i>
                   Копия документов о наличии движимого и недвижимого имущества;
            </p>

				<h3>
					Если у вас возникли трудности с оформлением документов свяжитесь с нами:
					<span style="color: #3B3131;">+7(916)230-71-16</span>
				</h3> 
			</div>

			<div class="column one-three last">
				<%= image_tag ("tablet.png") %>
			</div>

		</div>
	</section>	

	<section id="team" class="row team colored">
		<div class="inner small">

			<div class="column four">
				<%= image_tag ("team1.jpg") %>

				<h3>Джордж Вашингтон</h3>
				<p>Первый президент США</p>

				<p>Все было быстро и оперативно, спасибо вам огромное!</p>
			</div>


			<div class="column four">
				<%= image_tag ("team2.png") %>

				<h3>Томас Джефферсон</h3>
				<p>Третий президент США</p>

				<p>Визу получил даже быстрее, чем мне было обещано. Молодцы работают быстро, грамотно и видно что есть опыт.Спасибо большое! Дай им Бог здоровья.</p>		
			</div>


			<div class="column four">
				<%= image_tag ("team3.png") %>

				<h3>Теодор Рузвельт</h3>
				<p>26-й президент США</p>

				<p>Все понравилось, оформление заняло небольшое время и минимум документов. Спасибо огромное!</p>			
			</div>


			<div class="column four last">
				<%= image_tag ("team4.png") %>

				<h3>Авраам Линкольн</h3>
				<p>16-й президент США</p>

				<p>Должен сказать огромное спасибо тем людям, которые занимаются оформлением виз в США, сам я человек занятой, а тут ребята сделали всю работу за меня</p>			
			</div>						
		</div>
	</section>	

	

	<section class="row contact extra" id="contact">
		<div class="inner small">

			<%= render :partial=>'questions/form' %>											
					
		</div>
	</section>		

	<footer class="row footer extra-dark">
		<div class="inner small">

			<div class="column three">
				<p><strong>VizaOK</strong><br>
				г. Москва и Московская область<br>
				help@vizaok.ru<br>
				+7(916)230-71-16</p>
		</p>
			</div>

			<div class="column three">
				<p><strong>О нас</strong><br>
				Мы стремимся максимально упростить жизнь наших клентов, предоставляя им возможность получить визу в США за минимально озможный срок, с первого раза!</p>
			</div>

			<div class="column three last">
				<p>Copyright 2014 © Все права защищены VizaOK</p>

				<a class="instagram" href=""><i class="icon-google-plus"></i></a>
				<a class="twitter" href=""><i class="fa fa-vk"></i></a>
				<a class="facebook" href=""><i class="icon-facebook"></i></a>
			</div>

		</div>
	</footer>				
		

	<script type="text/javascript">
	
	
	$(document).ready(function(){
	
	$(".intro").backstretch("<%= asset_path 'header.jpg' %>");
	
	$( "#new_order" ).submit(function( event ) {
		if ( $( "#order_name" ).val() ) {
				if ( $( "#order_phone" ).val()) {
	  				$('#order_submit').val('Подождите...');
	  				return;
	  			}
	  		$( "#phone_error" ).text("Укажите Ваш номер телефона");
	  		return false;
	  	}
	  	$( "#name_error" ).text("Укажите Ваше имя");
	  	return false;
	});
	
	$( "#new_question" ).submit(function( event ) {
		if ( $( "#question_name" ).val() ) {
	  		if ( $( "#question_email" ).val() ) {
	  			if ( $( "#question_question" ).val() ) {
	  				$('#question_submit').val('Подождите...');
	  				return;
	  			}
	  			$( "#question_question" ).attr("placeholder","Напишите Ваш вопрос");
	  			return false;
	  		}
	  		$( "#question_email" ).attr("placeholder","Укажите Ваш e-mail");
	  		return false;
	  	}
	  	$( "#question_name" ).attr("placeholder","Укажите Ваше имя");
  		return false;
	});

		$('.nav').onePageNav();	
		
		var nav = responsiveNav("#nav", { // Selector
		  animate: true, // Boolean: Use CSS3 transitions, true or false
		  transition: 400, // Integer: Speed of the transition, in milliseconds
		  label: "<i class='icon-reorder'>​</i>​", // String: Label for the navigation toggle
		  insert: "after", // String: Insert the toggle before or after the navigation
		  customToggle: "", // Selector: Specify the ID of a custom toggle
		  openPos: "relative", // String: Position of the opened nav, relative or static
		  jsClass: "js", // String: 'JS enabled' class which is added to <html> el
		  init: function(){}, // Function: Init callback
		  open: function(){}, // Function: Open callback
		  close: function(){} // Function: Close callback
		});

	});
	
	
	</script>
	
	<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23900710 = new Ya.Metrika({id:23900710,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23900710" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->