<!DOCTYPE html>
<html>
<head>
  <title>VizaOK - Оформление визы в США | Онлайн оформление визы в США</title>
  <%= favicon_link_tag(source='favicon.png', :rel=>"shortcut icon", :type=>"image/x-icon") %>
  <%= favicon_link_tag(source='favicon.png', :rel=>"icon", :type=>"image/x-icon") %>
  <meta name="description" content="Онлайн оформление визы в США, 
  виза в сша анкета на русском, Помощь в оформлении виз в США, 
  эмиграция в сша,американская виза,получить визу,визы в сша, туризм в сша, получение визы сша, оформление визы сша, получить визу сша, анкета для визы в сша, рабочие визы в сша
порядок получения визы в сша, как получить визу в сша,  получение визы в сша,получить визу в сша,документы необходимые для получения визы в сша, визу в сша, виз в сша,документы для визы в сша,иммиграционные визы в сша
туристические визы в сша,виза в сша анкета,стоимость визы в сша,купить визу в сша,оформить визу в сша,как сделать визу,анкета на визу в сша,получить рабочую визу в сша,помощь в получении визы сша,документы для получения визы сша,как получить визу в америку
получить визу в америку,как сделать визу в америку,оформление гостевой визы в сша"/>
  
 <meta name="keywords" content="эмиграция в сша,американская виза,получить визу,визы в сша, туризм в сша, получение визы сша, оформление визы сша, получить визу сша, анкета для визы в сша, рабочие визы в сша
порядок получения визы в сша, как получить визу в сша,  получение визы в сша,получить визу в сша,документы необходимые для получения визы в сша, визу в сша, виз в сша,документы для визы в сша,иммиграционные визы в сша
туристические визы в сша,виза в сша анкета,стоимость визы в сша,купить визу в сша,оформить визу в сша,как сделать визу,анкета на визу в сша,получить рабочую визу в сша,помощь в получении визы сша,документы для получения визы сша,как получить визу в америку
получить визу в америку,как сделать визу в америку,оформление гостевой визы в сша"/>
  <meta name="document-state" content="Dynamic" />
  <meta name="robots" content="all" />
  <meta http-equiv="content-language" content="ru" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="home"></div>

	<section class="intro1">
			<div class= "inner small one box_logo" >
				<a href="#" >
					<h1><i class="fa fa-location-arrow"></i> VizaOK</h1>			
				</a>
			</div>
			<div class="inner small two-three">
				<div class="box_head">
					<h1>Мы предоставляем помощь в оформлении виз:</h1>
			   </div>
			</div>
			<div class="inner small four-five">
				<div class="column box box_usa">
					<%= link_to usa_visa_path do%>
						<%= image_tag("header_s.jpg") %>
						<h1><b>Америка</b></h1>
						<i class="icon-circle-arrow-right"></i>
					<% end %>
				</div>
			   <div class="column box box_uk">	
			   	<%= link_to uk_visa_path do%>
						<%= image_tag("header_gb2_s.jpg") %>
						<h1><b>Великобритания</b></h1>
						<i class="icon-circle-arrow-right"></i>
					<% end %>	
				</div>
			</div>
	</section>	

	<footer class="row footer color_green extra-dark">
		<div id="contact" class="inner small">

			<div class="column three">
				<p><strong>VizaOK</strong><br>
				<i class="icon-map-marker"> Россия, Белоруссия, Казахстан, Украина</i><br>
				<i class="icon-skype"> help.vizaok</i><br>
				@ help@vizaok.ru<br>
				<i class="icon-phone"> +7(915)347-51-48</i></p>
		</p>
			</div>

			<div class="column three">
				<p><strong>О нас</strong><br>
				Мы стремимся максимально упростить жизнь наших клентов, предоставляя им возможность получать визы за минимально возможный срок, с первого раза!</p>
			</div>

			<div class="column three last">
				<p>Copyright 2014 © Все права защищены VizaOK</p>
				<a class="twitter" href=""><i class="fa fa-vk"></i></a>
				<a class="facebook" href=""><i class="icon-facebook"></i></a>
			</div>

		</div>
	</footer>				
		
	<script type="text/javascript">
	
	
	$(document).ready(function(){
	
	$(".intro1").backstretch("<%= asset_path 'body_bg2.jpg' %>");
	$("#intro_uk").backstretch("<%= asset_path 'header_gb2.jpg' %>");
	
	$( "#new_question" ).submit(function( event ) {
		if ( $( "#question_name" ).val() ) {
	  		if ( $( "#question_email" ).val() ) {
	  			if ( $( "#question_question" ).val() ) {
	  			   $('#question_submit').attr("disabled", true);
	  				$('#question_submit').css('background-image', 'url(<%=asset_url("load_q.gif") %>)');
					$('#question_submit').fadeIn(10);	
					$('#question_submit').val('Подождите');  				
	  				return;
	  			}
	  			//$( "#question_question" ).attr("placeholder","Напишите Ваш вопрос");
	  			//$( "#question_question" ).css("-webkit-input-placeholder","red");
	  			//$( "#question_question" ).css("-moz-placeholder","red");
	  			//$( "#question_question" ).css("-ms-input-placeholder","red");
	  			return false;
	  		}
	  		$( "#question_email" ).attr("placeholder","Укажите Ваш e-mail");
	  		return false;
	  	}
	  	$( "#question_name" ).attr("placeholder","Укажите Ваше имя");
  		return false;
	});

		$('.nav').onePageNav();	
		
		var nav = responsiveNav("#nav", { // Selector
		  animate: true, // Boolean: Use CSS3 transitions, true or false
		  transition: 400, // Integer: Speed of the transition, in milliseconds
		  label: "<i class='icon-reorder'>​</i>​", // String: Label for the navigation toggle
		  insert: "after", // String: Insert the toggle before or after the navigation
		  customToggle: "", // Selector: Specify the ID of a custom toggle
		  openPos: "relative", // String: Position of the opened nav, relative or static
		  jsClass: "js", // String: 'JS enabled' class which is added to <html> el
		  init: function(){}, // Function: Init callback
		  open: function(){}, // Function: Open callback
		  close: function(){} // Function: Close callback
		});

	});
	
	
	</script>
	
	<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23900710 = new Ya.Metrika({id:23900710,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23900710" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- GoogleAnalytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48380429-1', 'vizaok.ru');
  ga('send', 'pageview');

</script>
<!-- GoogleAnalytics -->
</body>
</html>