    
    	
        
        <div id="wrap">
        
<!-- HEADER LOGIN BEGIN -->   
     
            <header>
					<div class="inner small">
			
						<div class="logo">
							<%= image_tag("logo2.png", :height=>"60px", :width=>"300px") %>
						</div>
			
						<nav  class="closed" style="-webkit-transition: max-height 400ms; " aria-hidden="false">
							<ul id="nav">
								<li class="current"><a href="#packages">Купить</a></li>
								<li class=""><a href="#benefits">О ножах</a></li>
								<li class=""><a href="#video">Видео</a></li>
								<li><a href="#contact_us">Контакты</a></li>
							</ul>
						</nav><a href="#" id="nav-toggle" aria-hidden="true"><i class="icon-reorder">​</i>​</a>
			
					</div>
				</header>
            
 <!-- HEADER LOGIN END -->
<!-- SLIDER REGISTER BEGIN -->

            <section id="register_slider">
                <div class="center">
                	<!-- Register form -->
                    <div class="form_register">
                        <h2>Закажи сейчас
                        И получи скидку!</h2>
                        <h3><span>&nbsp;&nbsp;Дней&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Часов&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Минут&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Секунд</span></h3>
                        <div id="flipcountdownbox"></div>
                        <%= image_tag("sale.png", :height=>"180px", :width=>"280px", :style=>"float: right;") %>
                    </div>
                     <div class="download_slider_box">
                        <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 550px; height: 350px; margin: 0px; overflow: hidden;"><div id="download_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 3850px; height: 350px; opacity: 1; z-index: auto;">
                            
                            
                            <div class="slide" id="download3" style="width: 550px;">
                            	  <%= image_tag("sharp/5.png", :width=>"550", :height=>"350") %>
                                <span><b>3 examples</b> with different targets</span>
                            </div>
                        	 <div class="slide" id="download1" style="width: 550px;">
                        			<%= image_tag("sharp/7.png", :width=>"550", :height=>"350") %>
                            		<span>Completely <b>responsive</b></span>
                            </div><div class="slide" id="download2" style="width: 550px;">
                            		<%= image_tag("sharp/5.png", :width=>"359", :height=>"350") %>
                                <span><b>Light and neat</b>, so light it can fly away</span>
                            </div></div></div>
                        <div id="pager3" class="pager" style="display: block;">
                        <a href="#" class=""><span>1</span></a>
                        <a href="#" class=""><span>2</span></a>
                        <a href="#" class="selected"><span>3</span></a></div>
                    </div>
                </div>
            </section>
            
<!-- SLIDER REGISTER END --> 
<!-- PACKAGES BLOCK BEGIN -->

            <section id="packages" class="box">
                <div class="center">
                    <div class="pack_box">
                    
                    	<!-- Pack 1-->
                        <div class="pack">
                            <div>
                                <h3>Один нож</h3>
                                <div class="pack_list">
                                    <ul>
                                        <li><span class="fa fa-check"></span> Нож-кредитка - 1 шт.</li>
                                        <li><span class="fa fa-check"></span> Доставка - 100 руб.</li>
                                    </ul>
                                </div>
                                <div class="try">
                                    <p class="price">490<span> руб.</span></p>
                                    <%= link_to "Купить!", new_order_path, :class=>"btn", :data=>{:toggle=>"modal", :target=>"#myModal", :remote=>true} %>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Pack 2-->
                        <div class="pack">
                            <div>
                                <h3>Три ножа</h3>
                                <div class="pack_list">
                                    <ul>
                                        <li><span class="fa fa-check"></span> Нож-кредитка - 3 шт.</li>
                                        <li><span class="fa fa-check"></span> Доставка - бесплатно.</li>
                                    </ul>
                                </div>
                                <div class="try">
                                    <p class="price">330<span> руб.</span></p>
                                    <%= link_to "Купить!", new_order_path, :class=>"btn", :data=>{:toggle=>"modal", :target=>"#myModal", :remote=>true} %>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Pack 3-->
                        <div class="pack">
                            <div>
                                <h3>Пять ножей</h3>
                                <div class="pack_list">
                                    <ul>
                                    	<li><span class="fa fa-check"></span> Нож-кредитка - 5 шт.</li>
                                       <li><span class="fa fa-check"></span> Доставка - бесплатно.</li>
                                    </ul>
                                </div>
                                <div class="try">
                                    <p class="price">290<span> руб.</span></p>
                                    <%= link_to "Купить!", new_order_path, :class=>"btn", :data=>{:toggle=>"modal", :target=>"#myModal", :remote=>true} %>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Pack 4-->
                        <div class="pack">
                            <div>
                                <h3>От 50шт.</h3>
                                <div class="pack_list">
                                    <ul>
                                        <li><span class="fa fa-check"></span> Нож-кредитка > 50 шт.</li>
                                        <li><span class="fa fa-check"></span> Доставка - бесплатно.</li>
                                    </ul>
                                </div>
                                <div class="try">
                                    <p class="price">250<span> руб.</span></p>
                                    <%= link_to "Купить!", new_order_path, :class=>"btn", :data=>{:toggle=>"modal", :target=>"#myModal", :remote=>true} %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

<!-- PACKAGES BLOCK END -->
<!-- BENEFITS BLOCK BEGIN -->

            <section id="benefits" class="box">
                <div class="center">
                    <h2>Что такое Card Sharp ?</h2>
                    <div class="benefits_box">
                    
                    	<!-- Benefit 1-->
                        <div class="benefit">
                            <%= image_tag("plus1.png") %>
                            <h3>Легкость и тонкость</h3>
                            <p>Вес всего 13 граммов, толщина 2,2 мм (как две кредитки)</p>
                        </div>
                        
                        <!-- Benefit 2-->
                        <div class="benefit">
                            <%= image_tag("sharp/plus2.png") %>
                            <h3>Острота</h3>
                            <p>Тончайшее лезвине хирургической стали</p>
                        </div>
                        
                        <!-- Benefit 3-->
                        <div class="benefit">
                            <%= image_tag("sharp/plus3.png") %>
                            <h3>Безопасность</h3>
                            <p>Замок не даст ножу раскрыться произвольно</p>
                        </div>
                        
                        <!-- Benefit 4-->
                        <div class="benefit">
                            <%= image_tag("sharp/plus4.png") %>
                            <h3>Оригинальность</h3>
                            <p>Нож легко помещается в кошелек</p>
                        </div>
                        
                        <!-- Benefit 5-->
                        <div class="benefit">
                            <%= image_tag("sharp/plus5.png") %>
                            <h3>Удобство</h3>
                            <p>Нож функционален, но, как и все гениальное, прост</p>
                        </div>
                        
                        <!-- Benefit 6-->
                        <div class="benefit">
                            <%= image_tag("sharp/plus6.png") %>
                            <h3>Надежность</h3>
                            <p>Корпус из полипропилена устойчив к сгибаниям!</p>
                        </div>
                    </div>
                </div>
            </section>

<!-- BENEFITS BLOCK END -->
<!-- VIDEO BLOCK BEGIN -->

            <section id="video" class="box">
                <div class="center">
                    <div class="video_info">
                        <h2>Card Sharp 2</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dictum auctor interdum. Aenean egestas vehicula purus in euismod. Quisque gravida commodo velit, eget porta leo sagittis vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dictum auctor interdum. Aenean egestas vehicula purus in euismod. Quisque gravida commodo velit, eget porta leo sagittis vel.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </div>
                    <div class="video_box">
                    	<!-- Video iframe code -->
                        <%= render :partial=>'video' %>
                    </div>
                </div>
            </section>

<!-- VIDEO BLOCK END -->

<!-- SCREENSHOTS BLOCK BEGIN -->

            <section id="screenshots" class="box">
                <div class="center">
                    <h2>Еще изображения</h2>
                    <div class="screenshots_box">
                    
                    	<!-- Fancybox slider -->
                        <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 790px; height: 141px; margin: 0px; overflow: hidden;"><div id="screenshots_slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 33px; margin: 0px; width: 3690px; height: 141px;">
                        
                            <div class="slide" style="margin-right: 12px;">
                            	 <%= link_to image_tag("02_s.jpg", :class=>"image_shadow", :width=>"130", :height=>"130"), image_url("sharp/5.png"), :data=> {:'fancybox-group'=>"gallery"}, :class=>"fancybox" %>  
                            </div>
                            <div class="slide" style="margin-right: 12px;">
                            	 <%= link_to image_tag("03_s.jpg", :class=>"image_shadow", :width=>"130", :height=>"130"), "http://multifour.com/projects/entry/constructor/images/screens/03.jpg", :data=> {:'fancybox-group'=>"gallery"}, :class=>"fancybox" %>  
                            </div>
                            <div class="slide" style="margin-right: 12px;">
                            	 <%= link_to image_tag("04_s.jpg", :class=>"image_shadow", :width=>"130", :height=>"130"), "http://multifour.com/projects/entry/constructor/images/screens/04.jpg", :data=> {:'fancybox-group'=>"gallery"}, :class=>"fancybox" %>  
                            </div>
                            <div class="slide" style="margin-right: 12px;">
                            	 <%= link_to image_tag("05_s.jpg", :class=>"image_shadow", :width=>"130", :height=>"130"), "http://multifour.com/projects/entry/constructor/images/screens/05.jpg", :data=> {:'fancybox-group'=>"gallery"}, :class=>"fancybox" %>  
                            </div>
                            <div class="slide" style="margin-right: 12px;">
                            	 <%= link_to image_tag("06_s.jpg", :class=>"image_shadow", :width=>"130", :height=>"130"), "http://multifour.com/projects/entry/constructor/images/screens/06.jpg", :data=> {:'fancybox-group'=>"gallery"}, :class=>"fancybox" %>  
                            </div>
                            <div class="slide" style="margin-right: 12px;">
                            	 <%= link_to image_tag("07_s.jpg", :class=>"image_shadow", :width=>"130", :height=>"130"), "http://multifour.com/projects/entry/constructor/images/screens/07.jpg", :data=> {:'fancybox-group'=>"gallery"}, :class=>"fancybox" %>  
                            </div>
                            <div class="slide" style="margin-right: 12px;">
                            	 <%= link_to image_tag("08_s.jpg", :class=>"image_shadow", :width=>"130", :height=>"130"), "http://multifour.com/projects/entry/constructor/images/screens/08.jpg", :data=> {:'fancybox-group'=>"gallery"}, :class=>"fancybox" %>  
                            </div>
                            <div class="slide" style="margin-right: 12px;">
                            	 <%= link_to image_tag("09_s.jpg", :class=>"image_shadow", :width=>"130", :height=>"130"), "http://multifour.com/projects/entry/constructor/images/screens/09.jpg", :data=> {:'fancybox-group'=>"gallery"}, :class=>"fancybox" %>  
                            </div>
                            <div class="slide" style="margin-right: 12px;">
                            	 <%= link_to image_tag("10_s.jpg", :class=>"image_shadow", :width=>"130", :height=>"130"), "http://multifour.com/projects/entry/constructor/images/screens/10.jpg", :data=> {:'fancybox-group'=>"gallery"}, :class=>"fancybox" %>  
                            </div>
                           
                        </div></div>
                        <a href="http://multifour.com/projects/entry/constructor/index.html#" id="prev2" class="fa fa-caret-left" style="display: block;"></a>
                        <a href="http://multifour.com/projects/entry/constructor/index.html#" id="next2" class="fa fa-caret-right" style="display: block;"></a>
                    </div>
                </div>
            </section>
            
<!-- SCREENSHOTS BLOCK END -->
<!-- QUESTIONS BLOCK BEGIN -->

            <section id="questions" class="box">
                <div class="center">
                    <h2>Есть вопросы?</h2>
                    <p></p>
                    <%= render :partial=>"questions/form" %>
                </div>
            </section>

<!-- QUESTIONS BLOCK END -->
<!-- CONTACT US BLOCK BEGIN -->

            <section id="contact_us" class="box">
                <div class="center">
                    <h2>Контакты</h2>
                    <div class="contact_info" itemscope="" itemtype="http://schema.org/Organization">
                        <ul>
                            <li itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span class="fa fa-map-marker"></span> <span itemprop="streetAddress">Address</span>, <span itemprop="postalCode">Postal code</span>, <span itemprop="addressLocality">City, Country</span></li>
                            <li itemprop="email"><span class="fa fa-envelope"></span> entry@email.com</li>
                            <li itemprop="telephone"><span class="fa fa-phone"></span> (234) 789-4356</li>
                            <li><span class="fa fa-skype"></span> entry_skype</li>
                        </ul>
                    </div>
                 </div>
            </section>
            
<!-- CONTACT US BLOCK END -->

            <div class="footerHeight"></div>
        </div><!--id="wrap"--> 
     

<!-- FOOTER BLOCK BEGIN -->
        
        <footer id="footer">
            <div class="center">
            	<!-- Social icons -->
                <div class="socials">
                    <ul>
                    	<li><a href="http://dribbble.com/" target="_blank" title="Dribbble" class="fa fa-dribbble"></a></li>
                        <li><a href="https://plus.google.com/" target="_blank" title="Google+" class="fa fa-google-plus"></a></li>
                        <li><a href="https://www.facebook.com/" target="_blank" title="Facebook" class="fa fa-facebook"></a></li>
                        <li><a href="https://twitter.com/" target="_blank" title="Twitter" class="fa fa-twitter"></a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>© Copyright 2014.  <br>
						Все права защищены.</p>
                </div>
            </div>
        </footer>
        
<!-- FOOTER BLOCK BEGIN --> 
      
<div id="myModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
  		<div class="modal-content"></div>
  		</div>
  </div>
 </div>
