<!DOCTYPE html>
<html>
<head>
  <title>VizaOK - Онлайн оформление визы в Великобританию</title>
  <%= favicon_link_tag(source='favicon.png', :rel=>"shortcut icon", :type=>"image/x-icon") %>
  <%= favicon_link_tag(source='favicon.png', :rel=>"icon", :type=>"image/x-icon") %>
  <meta name="description" content=""/>
  
 <meta name="keywords" content=""/>
  <meta name="document-state" content="Dynamic" />
  <meta name="robots" content="all" />
  <meta http-equiv="content-language" content="ru" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="home"></div>

	<header>
		<div class="inner small">

			<div class="logo">
				<%= link_to root_path do %>				
				 	<i class="fa fa-location-arrow"></i>VizaOK
				<% end %>
			</div>
			<div class="sub_logo">
					<p>визы в Великобританию</p>
			</div>							

			<nav id="nav" class="closed" style="-webkit-transition: max-height 400ms; position: relative;" aria-hidden="false">
				<ul class="nav">
					<li class="current"><a href="#home">Заявка</a></li>
					<li class=""><a href="#traveling" onClick="close_all();collapse1.open(0);">Туристические</a></li>
					<li class=""><a href="#students" onClick="close_all(); collapse2.open(0);">Студенческие</a></li>
					<li class=""><a href="#team">Отзывы</a></li>
					<li class=""><a href="#contact">Контакты</a></li>
				</ul>
			</nav><a href="#" id="nav-toggle" aria-hidden="true"><i class="icon-reorder">​</i>​</a>

		</div>
	</header>

	<section id="intro" class="intro">
		<div class="inner small">

			<div class="cage">		

			<div class="text">
			<h2>Визы в Великобританию</h2></br>

				<p>Что такое Великобритания?</p>
				<p> Это королева <b>Елизавета II</b>, это родина The Beatles, это Биг-Бен, 
				это двухэтажные автобусы и красные телефонные будки. У каждого свои ассоциации на этот счет. Но ни у кого не возникает сомнений, что это великая страна, посетить которую должен каждый хотя бы раз в жизни!</p>
				<p>Наша задача состоит в том, чтобы помочь Вам попасть в Великобританию максимально просто и быстро!</p>

			</div>
			
			<div class="col-lg-5">
				<div class="form-wrapper">
					<%= render :partial=>'orders/form' %>
				</div>
			</div>			

			</div>
	</div>	
	</section>

<section class="row service">
		<div class="inner small" style="width:820px; margin:0 auto;">
			<div class="column one">
				<h1>
				<i class="icon-cogs"></i>
				<span style="vertical-align:40%">Чем мы помогаем?</span></h1>
			</div>		
			<div class="column one hand-down" style="margin-left: 70px;">
					<br>
					
			</div>
			<!--row1-->
			<div class="column three circle">
				<br>
				<i class="icon-ok-sign"></i>
				<p>Поможем выбрать правильный тип визы<p>
			</div>
			<div class="column four hand">
				<br>
				
			</div>
			<div class="column three circle">
				<br>
				<i class="icon-paste"></i>
				<p>Заполним анкету на английском языке<p>
			</div>
			<div class="column four hand">
				<br>
				
			</div>
			<div class="column three circle">
				<br>
				<i class="icon-folder-open-alt"></i>
				<p>Подскажем какие документы собирать<p>
			</div>
			
			<!--row2-->
				<div class="column one hand-down">
					<br>		
				</div>
			<!--row3-->
			<br>
			<div class="column three circle">
				<br>
				<i class="icon-comment-alt"></i>
				<p>Запишем Вас на собеседование и подготовим к нему<p>
			</div>
			<div class="column four hand">
				<br>
				
			</div>
			<div class="column three circle">
				<br>
				<i class="icon-envelope-alt"></i>
				<p>Сдадим за Вас все документы в посольство<p>
			</div>
			<div class="column four hand">
				<br>
				
			</div>
			<div class="column three circle">
				<br>
				<i class="icon-edit"></i>
				<p>Переведём все документы<p>
			</div>
			<div class="column one hand-down">
					<br>
					
			</div>
			
			<div class="column two-three circle">
				<br>
				<i class="icon-truck"></i>
				<p>Отправим Вам готовые документы курьером<p>
			</div>
			<div class="column four hand">
				<br>
				
			</div>
			<div class="column two">
				<h1>Стоимость наших услуг:
				<span style="color: #3B3131; font-size: 40px;">
				<b>$120</b></span></h1>
				<p style="margin-left: 30px;">Плата взымается после того как Вы получите подтверждение из консульства о получении визы</p></div>
		</div>
	</section>
	<section id="visa_types" class="row colored viza_types">
		<div class="inner title">
			<div class="column two-three types">
				<h1>
				<i class="icon-copy"></i>
				<span style="vertical-align:40%">Виды и категории виз</span></h1>
				<p>Существет несколько типов виз в Великобританию, которые различаются по цели пребывания в стране. 
				Информацию о каждой из них Вы можете найти ниже. </p>
			</div>
		</div>
		<div id="visa_menu" class="inner item_1 viza_types">
			<div id="visa_nav" class="inner one">
				<div class="column four square">
				      <a href="" onClick="close_all(); collapse1.open(0); $.scrollTo('#traveling',500);">
				      	<i class="icon-globe"></i>
				      	<h2>Туристическая виза</h2>	
				      </a> 					
				</div>	
				<div class="column four square">
				      <a href="" onClick="close_all(); collapse2.open(0); $.scrollTo('#students',500);">
				      	<i class="icon-comments"></i>
				      	<h2>Студенческая виза</h2>
				      </a>			
				</div>
			  <div class="column four square">
				      <a href="" onClick="close_all(); collapse2.open(0); $.scrollTo('#students',500);">
				      	<i class="icon-book"></i>
				      	<h2>Студенческая виза TIER4</h2>	
				      </a>		
				</div>	
				<div class="column four square">
				      <a href="" onClick="close_all(); collapse1.open(0); $.scrollTo('#traveling',500);">
				      	<i class="icon-bar-chart"></i>
				      	<h2>Бизнес поездки</h2>	
				      </a>		
				</div>
		</div>
		<div id="visa_nav" class="inner two">	
				<div class="column four square">
						<a href="" onClick="close_all(); collapse3.open(0); $.scrollTo('#working',500);">
				      	<i class="icon-calendar"></i>
				      	<h2>Рабочая виза</h2>	
				      </a>		
				</div>
				<div class="column four square">
						<a href="" onClick="close_all(); collapse4.open(0); $.scrollTo('#wedding',500);">
				      	<i class="icon-heart"></i>
				      	<h2>Для женихов и невест</h2>	
				      </a>		
				</div>			
			</div>
		</div>
		<div class="row viza_item">
			<div id="traveling">
				<h1></h1>
				<div class="row about">
					<div class="inner small">
						<div class="column one">
							<h2>В каких случаях подходит данный тип визы:</h2>
							<p>
								Туристическая виза является одной из самых популярных. 
								Она позволяет совершать поездки в Великобританию с разными целями: осмотр культурных и ис­то­ри­чес­ких ценностей, посещение спортивных и развлекательных мероприятий, а также гостевые визиты к друзьям и родственникам, временно проживающим в Соединённом Королевстве. 
							</p>
							<h2>Особености туристической визы в Великобританию</h2>
							<p> <b>- Выдаётся сроком действия</b> от 6 месяцев до 10 лет.</p>
							<p> <b>- Является мульти-визой</b> и позволяет совершать неограниченное количество поездок в Великобританию при условии, что суммарная продолжительность визитов не превышает 180 дней за год. </p>
							<p> <b>- Если заявление подаётся впервые</b>, рекомендуем обра­титься за туристической визой на 6 месяцев. При этом в первый раз виза может быть выдана на один или два посе­щения, а срок пребывания в стране ограничен датами, указанными при подаче заявления. </p>
							<p> <b>- Для получения туристичес­кой визы сроком действия более года</b> необходимым условием является наличие не менее двух полугодовалых виз.</p>
							</p>
							<h2>Стоимость туристической визы</h2>
							<p><br> Краткосрочная виза до 6 месяцев - <b>£83 *</b>
							<br> Долгосрочная виза &nbsp;до 2 лет - <b>£300 *</b>
							<br> Долгосрочная виза &nbsp;до 5 лет - <b>£544 *</b>
							<br> Долгосрочная виза &nbsp;до 10 лет - <b>£737 *</b>
							<br><b>&emsp; +</b>
							<br> Наши услуги - <b>£75 **</b></p>
							<p><b>Итого: от £158.</b></p>
							<p>* - консульский сбор обязателен к оплате. В случае отказа, деньги не возвращаются.</p>
							<p>** - в случае отказа в визе, деньги за наши услуги мы возвращаюем в течение 1 дня.</p>
						</div>
						
						<div class="column one">
							<h2>Список необходимых документов:</h2>
							<p>
								<b>1. Копия заграничного паспорта</b> – все страницы (4 разворота паспорта на листе формата А4 с двух сторон).
								Паспорт должен быть со сроком действия не менее 6 месяцев с даты предполагаемого въезда в США;
							</p>
							<p>
							   <b>2. Копия гражданского паспорта</b> - первые две страницы;
			 				</p>
							<p> 
			               <b>3. Фотография 45 х 35 мм</b> цветная на белом фоне, 80% лица;
			 				</p>
							<p>
								<b>4. Справка с места работы</b> с указанием должности и оклада:</br>
			                         <span style="margin-left: 25px;">- для студентов (копия студенческого билета);</span></br>
			                         <span style="margin-left: 25px;">- для пенсионеров (копия пенсионного удостоверения);</span></br>
			                         <span style="margin-left: 25px;">- для безработных и детей (спонсорское письмо);</span> </br>
							</p>
							<p>
			               <b>5. Выписка из банковского счёта </b> из расчёта $4500 на человека; 
			            </p>
							<p>
			               <b>6. Копия документов о наличии движимого и недвижимого имущества;</b>
			            </p>
			             <p>
			                <b>7. Сведения о семье</b> - копии свидетельства о браке, о рождении детей;
			            </p>
			            <p>
			                <b>8. Бронь отеля</b>, в котором Вы собираетесь остановиться;
			            </p>
							
						</div>
						<div class="column one">
							<h2>Анкета для получения туристической визы</h2>
						   <p>Скачайте и заполните анкету на русском языке,  
						   после чего отправьте ее нам на адрес help@vizaok.ru. 
						   Мы переведем анкету на английский язык и отправим вместе 
						   с остальными документами в посольство Великобритании.
						   </p>	
							<p> Анкету на русском языке можно скачать по ссылке:
							<%= link_to "Анкета для туристической визы в Великобританию" %>
							</p>					
						</div>
			
					</div>
				</div>		
			</div>
		</div>
		<div class="row viza_item">
			<div id="students">
				<h1></h1>	
				<div class="row about">
					<div class="inner small">
							<div class="column one">
							<h2>Виды студенческих виз:</h2>
							<p><b>1. Tier4. Студенческя виза</b> - предназначена для тех, кто хочет получить образование в Великобритании, 
							обучаясь на длительном курсе (свыше 6 месяцев) в учебном заведении, имеющем лицензию United Kingdom Border Agency (UKBA). 
							<b>Подойдет Вам, если собираетесь получить высшее образование в  Англии и отправить ребенка обучаться в Английской школе.</b></p>
							<p><b>2. Виза Student visitorM</b> - предназначена для тех, кто хочет пройти краткий курс обучения (до 11 месяцев) в Великобритании. 
							Это могут быть курсы обучения английскому языку или работа, связанная с обучением. <b>Если Вы собираете обучаться английскому на курсах в Великобритании, 
							то эта виза для Вас.</b> 
							</p>
							<h2>Сколько стоит студенческая виза?</h2>
						   <p><b>$160</b> - консульский сбор (обязательно для всех)*
						   	<br><b>&emsp; +</b> 
						   	<br><b>$200</b> - оплата SEVIS** (обязательно для всех студентов)***
						   	<br><b>&emsp; +</b> 
						   	<br><b>$100</b> - наши услуги (оплачиваются только в случае успешного получения визы)</p>
						   	<p><b>Итого: $460</b></p>
						   <p>* оплату консульского сбора Вы можете совершить самостоятельно по адресу <%= link_to "https://payusvisafee.rsb.ru", "https://payusvisafee.rsb.ru",:target => 'blank' %> или мы можем сделать это за Вас.</p>
							<div data-collapse>						
								<h3 style="color: #aaa">** Что такое SEVIS? >></h3>
								<p style="padding: 10px; background-color: #ccc">SEVIS (Student and Exchange Visitor Information System) – это специально разработанная информационная система, общая база данных, используемая правительством Соединенных Штатов для контроля за студентами и участниками обменных программ, въезжающих на территорию США по визе J (Work and Travel) или F, M (Students). 
									Для регистрации в системе необходимо оплатить обязательный сбор SEVIS Fee, который составляет 200$. 
									Это необходимо сделать до подачи заявления на студенческую визу или визу по программе Work and Travel.
								</p>
							</div>
							<p>*** оплату SEVIS вы можете совершить самостоятельно по адресу <%= link_to "https://www.fmjfee.com/i901fee/index.jsp", "https://www.fmjfee.com/i901fee/index.jsp", :target => 'blank' %> или через нас.</p>
						   
							</div>
							<div class="column one">
							<h2>Список необходимых документов для оформления студенческой визы:</h2>
							<p>
								<b>1. Копия заграничного паспорта</b> – все страницы (4 разворота паспорта на листе формата А4 с двух сторон) 
							</p>
							<p>
							   <b>2. Копия гражданского паспорта</b> - первые две страницы
			 				</p>
							<p>
			               <b>3. Фотография</b> 5 х 5 цветная на белом фоне, 80% лица 
			 				</p>
							<p>
								<b>4. Справка с места работы</b> с указанием должности и оклада:</br>
			                         <span style="margin-left: 25px;">- для студентов (копия студенческого билета);</span></br>
			                         <span style="margin-left: 25px;">- для пенсионеров (копия пенсионного удостоверения);</span></br>
			                         <span style="margin-left: 25px;">- для безработных и детей (спонсорское письмо);</span> </br>
							</p>
							<p>
			                <b>5. Копия I-20;</b> 
			            </p>
			            <p>
			                <b>6. Копия SevisFee;</b> 
			            </p>
							<p>
			                <b>7. Выписка из банковского счёта</b> из расчёта $4500 на человека; 
			            </p>
							<p>
			                <b>8. Копия документов о наличии движимого и недвижимого имущества;</b>
			            </p>
			            <p>
			                <b>9. Сведения о семье</b> - копии свидетельства о браке, о рождении детей;
			            </p>
						</div>
						<div class="column one">
							<h2>Анкета для получения студенческой визы</h2>
						   <p>Скачайте и заполните анкету на русском языке,  
						   после чего отправьте ее нам на адрес help@vizaok.ru. 
						   Мы переведем анкету на английский язык и отправим вместе 
						   с остальными документами в посольство США.
						   </p>	
							<p> Анкету на русском языке можно скачать по ссылке:
							<%= link_to "Анкета DS-160 (Студенческая виза)", products_download_student_doc_url %>							
							</p>					
						</div>
			
					</div>
				</div>		
			</div>	
		</div>
		<div class="row viza_item">
			<div id="working">
				<h1></h1>
				<div class="row about">
					<div class="inner small">
						<div class="column one">
						<h2>Когда используется виза</h2>
							<p><b>Рабочие визы (H, L, O, P, Q, R Visas)</b> выдаются при оформлении разрешения на временную работу. 
							</p>
						<h2>Как получить</h2>
						<p>
							Разрешения на временную работу выдаются на основе петиций, поданных в Службу U.S. Citizenship and Immigration Services (USCIS) в США потенциальным работодателем. 
							Обращающиеся за разрешением на временную работу должны попросить своего будущего работодателя в США связаться с ближайшим региональным офисом INS для подачи петиции. 
							Визовое собеседование в Консульстве будет назначено только после того, как INS одобрит такую петицию.
						</p>
						</div>
						
						<div class="column one">
							<h2>Анкета для получения рабочей визы</h2>
						   <p>Скачайте и заполните анкету на русском языке,  
						   после чего отправьте ее нам на адрес help@vizaok.ru. 
						   Мы переведем анкету на английский язык и отправим вместе 
						   с остальными документами в посольство США.
						   </p>	
							<p> Анкету на русском языке можно скачать по ссылке:
							<%= link_to "Анкета DS-160 (Рабочая виза)", products_download_work_doc_url %>								
							</p>					
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row viza_item">
			<div id="wedding">
				<h1></h1>
				<div class="row about">
					<div class="inner small">
						<div class="column one">
						<h2>Когда используется виза</h2>
							<p><b>Визы для женихов и невест (K1 Visa - Fiance/Fiancee of a U.S. Citizen)</b> предназначены для тех, кто собирается ехать в США, чтобы вступить в брак с американским гражданином/гражданкой и затем поселиться там постоянно.
							</p>
						<h2>Как получить</h2>
							<p>Визы для женихов и невест, как и все остальные категории иммиграционных виз, не выдаются в Консульствах по регионам России. 
							Жители России должны обращаться за такими визами в Посольство в Москве. 
							Эти визы выдаются на основе петиций, поданных в Службу Иммиграции и Натурализации в США потенциальными американскими супругами. 
							Обращающиеся за визами для женихов и невест должны попросить своих будущих супругов в США связаться с ближайшим региональным офисом INS для подачи петиции. 
							Визовое собеседование в Консульстве будет назначено только после того, как INS одобрит такую петицию.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="background-color: #2e8b57;">
		<div class="column one phone">
		<h1 style="text-align: left">
			<i class="icon-phone"></i>
			<span style="vertical-align:40%; font-size: 40px;">
			<b>+7(915)347-51-48</b>
			</span>
			<br>Если у вас возникли трудности со сбором или оформлением документов
			свяжитесь с нами
		</h1> 
		</div>
		</div>	
	</section>
	<section id="team" class="row team">
		<div class="inner small">

			<div class="column four">
				<%= image_tag ("Qween.jpg") %>

				<h3>Джордж Вашингтон</h3>
				<p style="color: #ccc;">Первый президент США</p>

				<p>Все было быстро и оперативно, спасибо вам огромное!</p>
			</div>


			<div class="column four">
				<%= image_tag ("Lenon.jpg") %>

				<h3>Томас Джефферсон</h3>
				<p style="color: #ccc;">Третий президент США</p>

				<p>Визу получил даже быстрее, чем мне было обещано. Молодцы работают быстро, грамотно и видно что есть опыт.Спасибо большое! Дай им Бог здоровья.</p>		
			</div>


			<div class="column four">
				<%= image_tag ("Churchill.jpg") %>

				<h3>Теодор Рузвельт</h3>
				<p style="color: #ccc;">26-й президент США</p>

				<p>Все понравилось, оформление заняло небольшое время и минимум документов. Спасибо огромное!</p>			
			</div>


			<div class="column four last">
				<%= image_tag ("stiven.jpg") %>

				<h3>Авраам Линкольн</h3>
				<p style="color: #ccc;">16-й президент США</p>

				<p>Должен сказать огромное спасибо тем людям, которые занимаются оформлением виз в США, сам я человек занятой, а тут ребята сделали всю работу за меня</p>			
			</div>						
		</div>
	</section>	

	

	<section class="row contact color_blue extra">
		<div class="inner small">

			<%= render :partial=>'questions/form' %>											
					
		</div>
	</section>		

	<footer class="row footer extra-dark">
		<div id="contact" class="inner small">

			<div class="column three">
				<p><strong>VizaOK</strong><br>
				<i class="icon-map-marker"> Россия, Белоруссия, Казахстан, Украина</i><br>
				<i class="icon-skype"> help.vizaok</i><br>
				@ help@vizaok.ru<br>
				<i class="icon-phone"> +7(915)347-51-48</i></p>
		</p>
			</div>

			<div class="column three">
				<p><strong>О нас</strong><br>
				Мы стремимся максимально упростить жизнь наших клентов, предоставляя им возможность получить визу в Великобританию за минимально возможный срок, с первого раза!</p>
			</div>

			<div class="column three last">
				<p>Copyright 2014 © Все права защищены VizaOK</p>
				<a class="twitter" href=""><i class="fa fa-vk"></i></a>
				<a class="facebook" href=""><i class="icon-facebook"></i></a>
			</div>

		</div>
	</footer>				
		
  <script>
  		
        var collapse1 = new jQueryCollapse($("#traveling"), {
          open: function() {
            collapse2.close();
            this.slideDown(150);
          }
        });
        var collapse2 = new jQueryCollapse($("#students"), {
          open: function() {
            this.slideDown(150);
          }
        });
        var collapse3 = new jQueryCollapse($("#working"), {
          open: function() {
            this.slideDown(150);
          }
        });
        var collapse4 = new jQueryCollapse($("#wedding"), {
          open: function() {
            this.slideDown(150);
          }
        });
        
        function close_all(){
				collapse1.close();
				collapse2.close();
				collapse3.close();
				collapse4.close();
        };
   </script>
	<script type="text/javascript">
	
	
	$(document).ready(function(){
	
	$.scrollTo(0);
	
	$(".intro").backstretch("<%= asset_path 'header_gb3.jpg' %>");
	
	$( "#new_order" ).submit(function( event ) {
		if ( $( "#order_name" ).val() ) {
				if ( $( "#order_phone" ).val()) {
					if ( $( "#order_email" ).val()) {
					   $('#order_submit').attr("disabled", true);
					   $('#order_submit').css('background-image', 'url(<%=asset_url("load_o.gif") %>)');
					   $('#order_submit').fadeIn(10);	
	  					$('#order_submit').val('Подождите');
	  					return;
	  				}
	  				$( "#email_error" ).text("Укажите Ваш e-mail");
	  				return false;
	  			}
	  		$( "#phone_error" ).text("Укажите Ваш номер телефона");
	  		return false;
	  	}
	  	$( "#name_error" ).text("Укажите Ваше имя");
	  	return false;
	});
	
	$( "#new_question" ).submit(function( event ) {
		if ( $( "#question_name" ).val() ) {
	  		if ( $( "#question_email" ).val() ) {
	  			if ( $( "#question_question" ).val() ) {
	  			   $('#question_submit').attr("disabled", true);
	  				$('#question_submit').css('background-image', 'url(<%=asset_url("load_q.gif") %>)');
					$('#question_submit').fadeIn(10);	
					$('#question_submit').val('Подождите');  				
	  				return;
	  			}
	  			//$( "#question_question" ).attr("placeholder","Напишите Ваш вопрос");
	  			//$( "#question_question" ).css("-webkit-input-placeholder","red");
	  			//$( "#question_question" ).css("-moz-placeholder","red");
	  			//$( "#question_question" ).css("-ms-input-placeholder","red");
	  			return false;
	  		}
	  		$( "#question_email" ).attr("placeholder","Укажите Ваш e-mail");
	  		return false;
	  	}
	  	$( "#question_name" ).attr("placeholder","Укажите Ваше имя");
  		return false;
	});

		$('.nav').onePageNav();	
		
		var nav = responsiveNav("#nav", { // Selector
		  animate: true, // Boolean: Use CSS3 transitions, true or false
		  transition: 400, // Integer: Speed of the transition, in milliseconds
		  label: "<i class='icon-reorder'>​</i>​", // String: Label for the navigation toggle
		  insert: "after", // String: Insert the toggle before or after the navigation
		  customToggle: "", // Selector: Specify the ID of a custom toggle
		  openPos: "relative", // String: Position of the opened nav, relative or static
		  jsClass: "js", // String: 'JS enabled' class which is added to <html> el
		  init: function(){}, // Function: Init callback
		  open: function(){}, // Function: Open callback
		  close: function(){} // Function: Close callback
		});
		
		$('#visa_nav').onePageNav({
		    currentClass: 'current',
		    changeHash: false,
		    scrollSpeed: 350,
		    scrollThreshold: 0.5,
		    filter: '',
		    easing: 'swing',
		    begin: function() {
		        //I get fired when the animation is starting
		    },
		    end: function() {
		        //I get fired when the animation is ending
		    },
		    scrollChange: function($currentListItem) {
		        //I get fired when you enter a section and I pass the list item of the section
			 }		    
		    });	

	});
	
	
	</script>
	
	<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23900710 = new Ya.Metrika({id:23900710,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23900710" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- GoogleAnalytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48380429-1', 'vizaok.ru');
  ga('send', 'pageview');

</script>
<!-- GoogleAnalytics -->
</body>
</html>